.fundo{
    background: rgb(218,47,114);
    background: -moz-linear-gradient(309deg, rgba(218,47,114,1) 0%, rgba(251,88,236,1) 47%, rgba(255,0,99,1) 100%);
    background: -webkit-linear-gradient(309deg, rgba(218,47,114,1) 0%, rgba(251,88,236,1) 47%, rgba(255,0,99,1) 100%);
    background: linear-gradient(309deg, rgba(218,47,114,1) 0%, rgba(251,88,236,1) 47%, rgba(255,0,99,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#da2f72",endColorstr="#ff0063",GradientType=1);
}

.titulo{
    background: rgb(139,47,218);
background: -moz-linear-gradient(180deg, rgba(139,47,218,1) 0%, rgba(205,88,251,1) 43%, rgba(179,0,255,1) 100%);
background: -webkit-linear-gradient(180deg, rgba(139,47,218,1) 0%, rgba(205,88,251,1) 43%, rgba(179,0,255,1) 100%);
background: linear-gradient(180deg, rgba(139,47,218,1) 0%, rgba(205,88,251,1) 43%, rgba(179,0,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8b2fda",endColorstr="#b300ff",GradientType=1);
    text-align: center;
    font-size: 20px;

}

table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 30%;
    background: rgb(183,65,195);
background: linear-gradient(90deg, rgba(183,65,195,1) 18%, rgba(122,109,242,1) 45%, rgba(210,104,255,1) 100%);
   
}

.tabela{
    
    display: flex;
  justify-content: center;
  align-items: center;
}

.formulario{
    display: flex;
  justify-content: center;
  align-items: center;
}


td {
    border: 1px solid black;
}

th {
    border: 1px solid black;
}

form {
    display: inline-block;
    background: rgb(183,65,195);
    background: linear-gradient(90deg, rgba(183,65,195,1) 18%, rgba(122,109,242,1) 45%, rgba(210,104,255,1) 100%);
    text-align: center;
    display: inline-flex;
}

.titulo2{
    background: rgb(139,47,218);
    background: -moz-linear-gradient(180deg, rgba(139,47,218,1) 0%, rgba(205,88,251,1) 43%, rgba(179,0,255,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(139,47,218,1) 0%, rgba(205,88,251,1) 43%, rgba(179,0,255,1) 100%);
    background: linear-gradient(180deg, rgba(139,47,218,1) 0%, rgba(205,88,251,1) 43%, rgba(179,0,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8b2fda",endColorstr="#b300ff",GradientType=1);
    text-align: center;
}

.personagens{
    display: flex;
  justify-content: center;
  align-items: center;
}

.personagem1:hover
        {
            -webkit-transform: scale(1.3);
            -ms-transform: scale(1.3);
            transform: scale(1.3);
            display: inline-flex;
        }

.personagem2:hover
{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    display: inline-flex;
}

.personagem3:hover
{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    display: inline-flex;
}

.personagem4:hover
{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    display: inline-flex;
}
  
.botao{
    text-align: center;
}

.btn {
    padding: 1rem 2rem;
    border-radius: 8px;
    background: transparent;
    border: 2px solid rgb(131,64,189);
    font-size: 2.0rem;
    color: rgb(0, 0, 0);
    cursor: pointer;
    position: relative;
    text-align: center;
}

.btn::before {
    content: '';
    position: absolute;
    background: rgb(131,64,189);
    background: linear-gradient(90deg, rgba(131,64,189,1) 18%, rgb(184, 125, 165) 45%, rgba(179,0,255,1) 100%);
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .5s ease;
}

.btn:hover::before {
    width: 100%;
}

.gif{
    text-align: center;
   
}

footer{
    text-align: center;
}

.rodape{
    text-align: center;
}

