body {
	margin: 0;
	padding: 0;
}

header {
	background-color: #c750c1;
	color: #fff;
	padding: 30px;
}

h1 {
	margin: 0;
}

nav ul {
	list-style-type: none;
	display: flex;
	padding: 0;
	margin: 0;
}



nav li {
	margin-right: 20px;
}

li:hover{
	background-color: rgb(252, 172, 235);
}

nav a {
	color: #fff;
	text-decoration: none;
	
}

main {
	padding: 20px;
}

#menu, .menu {
	display: none;
}

@media screen and (max-width: 600px) {
	nav{display: none;}

	#menu:checked ~ nav {
		display: block;
	}

	.menu { display: block; text-align: center;background: transparent; padding: 0 px; float: right }

	header {
		text-align: center;
	}

	nav {
		display: none;
	}

	nav ul {
		flex-direction: column;
	}

	nav li {
		margin: 10px 0;
	}

	nav a {
		display: block;
	}
}